body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    min-width: 700px;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url("images/andre-tan-THJJRUhNlEc-unsplash.jpg");
    background-size: cover;
    background-position: center calc(22%);
    background-repeat: no-repeat;
    opacity: 0.25;
    z-index: -1;
}

header > h1 {
    font-size: 2.5em;
}

header > p, header > h1 {
    margin: 0px 40px ;
}

header > p {
    margin-top: 10px;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:initial;
    position: relative;
    bottom: 17px;
}

/* SEARCH */

div#search {
    background-color: #2E2E2F;
    border-radius: 5px;
    width: 85%;
    max-width: 700px;
    display: flex;
    align-items: center;
}

span#icon {
    padding: 0px 10px;
}

input#search-input {
    border: none;
    color: #A5A5A5;
    background-color: #2E2E2F;
    width: 100%;
    outline: none;
}

button#search-btn {
    padding: 10px 30px;
    margin: 0;
    margin-left: auto;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #4B4B4B;
    border-radius: 0px 5px 5px 0px;
}

/* EMPTY SEARCH */

div#empty-search {
    margin-top: 20%;
    text-align: center;
}

p#message {
    color: #2E2E2F;
    font-weight: bold;
    text-align: center;
}

/* MOVIES */

div#movies-list {
    margin: 20px 0;
    width: 85%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#movies-list > img {
    padding-top: 100px;
    height: 80px;
}

/* MOVIE CARD */

div.movie-card {
    display: flex;
    padding: 30px 0;
    border-bottom: 2px solid #2E2E2F;
}

img.movie-poster {
    width: 150px;
    height: 210px;
    padding-right: 20px;
}

div.movie-card-details-header {
    display: flex;
}

div.movie-card-details-header > h3 {
    letter-spacing: 1px;
    font-weight: 300;
}

div.movie-card-details-header > p {
    padding: 2.5px 0 0 10px;
}

div.movie-card-details-header > p > span {
    color: goldenrod;
    padding-right: 10px;
}

div.movie-card-details-data {
    display: flex;
    align-items: center;
}

div.movie-card-details-data > button {
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
    margin-right: 10px;
}

div.movie-card-details-data > p {
    padding-right: 20px;
    margin: 0;
}

p.movie-plot {
    color: #A5A5A5;
}